spring:
  cloud:
    gateway:
      routes:
        # Route for Inventory (Products)
        - id: inventory_route
          uri: lb://INVENTORY-SERVICE
          predicates:
            - Path=/api/products/**

      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:4200"
            allowedHeaders:
              - "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
